body {
    background: #FAFAFA;
    color: #111111;
    margin: 1em auto;
    max-width: 40em;
    padding: 0 .62em 3.24em;
    font-size: 1.2em;
    line-height: 1.62;
    font-family: system-ui, Roboto, 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Adwaita Sans', 'Noto Sans', 'Ubuntu', sans-serif;
}

h1, h2, h3 {
    line-height: 1.2;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #121212;
        color: #F0F0F0;
    }
}

@media print {
    body {
        max-width: none;
    }
}